<% content_for :title do %>About Us<% end %>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-7">
		<h2 class="featurette-heading">Who We Are</h2>
		<p class="lead"> We are Insaka, a 501(c)(3) non-profit dedicated to helping girls in rural Zambia finish their secondary school educations.</p>
		<p>
		Insaka was formed in 2017 by Kyle Uhlmann and Sherrie Welch. The idea of Insaka was born from discussions about Kyle’s recent service as a Peace Corps Volunteer teaching English in Mutwewankoko (<i>head of the chicken</i> in the local language), Zambia.</p>
		<p>
		Most of the girls in Mutwe have no opportunity to continue their education beyond Grade 9. It doesn’t matter how smart they are, how hardworking, or how creative. The girls face so many obstacles: school fees and gender inequalities, which mean few ever attend Grade 10, let alone finish Grade 12. Instead, the majority complete Grade 9, marry early, start having children, and spend the rest of their lives engaged in the back-breaking and never ending labor that characterize the life of a subsistence farmer.</p>
		<p>
		They never have a chance.</p>
		<p>
		We decided to bring our talents and skills together and do something to help these girls break this cycle. We are both firm believers in the power of education and so have chosen to focus our efforts there. Our goal is to help a steady stream of girls finish secondary school so that they can change their lives, their communities, and our world. Join us.</p>
  </div>
<div class="col-sm-5">
		
		<div class="row justify-content-sm-center">
			<div class="col-sm-4">
				<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/picture.jpg" alt="A photo of Sherrie campaigning for girls education">
			</div>
			<div class="col-sm-4">
				<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/IMG_9593.jpg" alt="A photo of Kyle at his school in Zambia, Africa.">
			</div>
		</div>
  <img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="../images/insaka.JPG" alt="A photo of an Insaka, the traditional place of Zambia education."><p> An Insaka, the traditional place of learning, and our namesake.</p>
	</div>
	</div>
	</div>
	<br>

<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="https://user-images.githubusercontent.com/31570973/31757961-b5615ff4-b4ab-11e7-9aa4-dd981f496f83.JPG" alt="An African school girl in Zambia">
		
		
		</div>
		<div class="col-sm-7">
			<h2 class="featurette-heading">What We Do</h2>
			<p class="lead">The odds of a rural Zambian girl going to secondary school are slim. There are too many obstacles in her way.</p>
			<p>One of the largest obstacles is a lack of money. The average yearly cash income in rural areas can be extremely low, often less than $500 USD. Secondary school fees range from $275-$800 USD per year for three years. That is just tuition. It does not include transport to school, uniforms, school supplies, etc. </p>
			<p>Most of these girls come from families of subsistence farmers. Their families don’t have much money, and what money they can save for education, is usually spent on the sons. Our goal is to help girls complete their Grade 12 educations by assisting in the payment of their school fees. </p>
			<p> We created Insaka as a means to connect donors to girls who have been deemed as having high levels of need, motivation and potential for success. We collect donations, via this website, and then use them to pay all three years’ worth of secondary school fees for the selected girls.</p>
			<p>Our aim at the moment is to assist five girls per year. </p>
		</div>
	</div
	
		</div>
		</div>
<br>

<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-sm-7">
			<h2 class="featurette-heading">Why We Do It</h2>
			<p class="lead">We started Insaka because we want to help.</p>
			<p>We chose education because female education especially has been shown in multiple studies to have a massive impact on society. The impact of female education can be:<br>
		
			<ul type="square">
			<li>Economic</li>
				<ul>
					<li>Increased economic output</li>
					<li>Better jobs</li>
					<li>Higher wages</li>
					<li>Reduced vulnerability to labor/sexual exploitation</li>
					<li>Increased agricultural output</li>
				</ul>
		<li>Social</li>
				<ul>
					<li>Lower birth rates</li>
					<li>Reduced rates of child marriage</li>
					<li>Increased importance placed on children’s education</li>
					<li>Increased resiliency to natural disasters/economic downturn</li>
				</ul>
		<li>Health</li>
				<ul>
					<li>Fewer maternal deaths during childbirth</li>
					<li>Fewer infant deaths</li>
					<li>Increased willingness to seek medical care</li>
					<li>Reduced HIV/AIDs levels</li>
					<li>Higher vaccination levels</li>
					<li>Lower levels of malnutrition/stunting</li>
				</ul>
		<li>Political</li>
				<ul>
					<li>Increased political participation</li>
					<li>Empowered women</li>
				</ul>
			</ul>
			<div>
				<p>
				For more information on everything related to girl's education, and studies that back up the claims above, 
     			 	<a href = "https://www.brookings.edu/wp-content/uploads/2016/07/whatworksingirlseducation1.pdf">click here.</a></p>
				</p>
			</div>
		</div>
		<div class="col-sm-5">
 			<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/IMG_9241.jpg" alt="Bana Priscilla did not finish her education because she became pregnant">
	
		</div>
	</div>
</div>
			
<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-sm-5">	
			<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/IMG_9569.jpg" alt="Sharon working hard at school. Education can be difficult.">
			<p>
			Special Thanks:
			<br>
			Drew Uhlmann for assistance with the website.</p>
		</div>
	
		<div class="col-sm-7">
			<h2 class="featurette-heading">How You Can Help</h2>
			<p class="lead">We need your help.</p>
			<p>What may seem like pocket change to you can mean the difference between a drop-out and a graduate. You can visit our <a href="http://www.insaka.org/pages/donate">Candidates</a> page to see the girls we are currently raising money for.</p>
			<p>We are also trying to spread the word about Insaka. Please like us on Facebook, follow us on Twitter and tell all your friends.</p>
			
			<div>
				<a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div>

				<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

			</div>
				<p>If you are a development worker in Zambia, and you know a girl who you think is worthy of sponsorship, please consider filling out the application below. </p>
				<%= link_to "Insaka Application", asset_path("Insaka app.pdf"), :class => "btn btn-large btn-danger" %></p>
			</div>
		</div>
</div>
</div>
</div>
<!-- /END THE FEATURETTES -->
<footer>	
<hr>
	<div class="text-center col-12 blue container-fluid">
	<br>
		<form action="http://www.insaka.org/pages/contact" method="get">
         	 <button>Send Us a Bushnote</button>
       		 </form>
	
		<div>
			<p style="color:#1e619b;">Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
		</div>
	</div>
<!-- /.row -->
</footer>
