<% content_for :title do %>About Us<% end %>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Who We Are</h2>
		<p class="lead"> We are Insaka, a 501(c)(3) non-profit dedicated to helping girls in rural Zambia finish their secondary school educations.</p>
		<p>
		Insaka was formed in 2017 by Kyle Uhlmann and Sherrie Welch. The idea of Insaka was born from discussions about Kyle’s recent service as a Peace Corps Volunteer English teacher in Mutwewankoko (Moot-way-wan-koko, <i>head of the chicken</i> in the local language), Zambia.</p>
		<p>
		Most of the girls in Mutwe have no opportunity to continue their education beyond Grade 9. It doesn’t matter how smart they are, how hardworking, or how creative. The girls face so many obstacles: school fees and rampant sexism, for instance, that very few ever attend Grade 10 let alone finish Grade 12. Instead, the majority complete Grade 9, marry early (often by 16), start having children (Total Fertility Rate in 2012 was 5.7 according to UNICEF), and spend the rest of their lives engaged in the back-breaking and neverending labor that characterize the life of a subsistence farmer.</p>
		<p>
		They never have a chance. That’s not fair.</p>
		<p>
		We decided to bring our talents and skills together and do something to help these girls break this cycle. We are both firm believers in the power of education and so have chosen to focus our efforts there. Our goal is to help a steady stream of girls finish secondary school so that they can change their lives, their communities, and our world. Join us.</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/picture.jpg" alt="who we are - a photo of kyle and sherrie">
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading">What We Do</h2>
		<p class="lead">The odds of a rural Zambian girl going to secondary school are slim. There are too many obstacles in her way.</p>
		<p>One of the largest obstacles is a lack of money. The average yearly cash income in rural areas can be extremely low, often less than $500 USD. Secondary school fees range from $250-$450 USD per year for three years. That is just tuition. It does not include transport to school, uniforms, school supplies, etc. </p>
		<p>Most of these girls come from families of subsistence farmers. Their families don’t have much money, and what money they can save for education, is usually spent on the sons. Our goal is to help girls complete their Grade 12 educations by assisting in the payment of their school fees. </p>
		<p> We have created Insaka as a tool to pass money from donors to these girls.  We collect donations, via this website, and then use it to pay all three years’ worth of secondary school fees for girls who have been deemed as having high levels of need, motivation and potential for success. </p>
		<p>Our aim at the moment is to assist five girls per year. </p>
	</div>
	<div class="col-md-5 order-md-1">
		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="">
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Why We Do It</h2>
		<p class="lead">Women's education has been shown to have many positive effects on the community. Women with secondary education can go on to become schoolteachers, clinic workers, community health workers, and fill numerous other beneficial roles within their communities.</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="">
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="">
	</div>
	<div class="col-md-5">
		<h2 class="featurette-heading">How You Can Help</h2>
		<p class="lead">We need your help. What may seem like pocket change to you can mean the difference between a drop-out and a graduate. You can visit our Candidates page to see the girls we are currently raising money for.</p>
		<p>We are also trying to spread the word about Insaka. Please like us on Facebook, follow us on Twitter and tell all your friends.</p>
		<p>If you are a development worker in Zambia, and you know a girl who you think is worthy of sponsorship, please fill out the application below. </p>
		<h4>Nominate a girl</h4>
	<%= link_to "Insaka Application", asset_path("insaka_application.pdf"), :class => "btn btn-large btn-danger" %></p>
</div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->
<footer>
<div>
	<p>
		Special Thanks
		<br>
	Drew Uhlmann for the website creation and management.</p>
</div>
<hr>
<div class="text-center col-12 blue container-fluid">
	<br>
	<h2> <%= button_to "Send Us a Bushnote", page_path('contact'), {class: 'button'} %> </h2>
	<div>
		<a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div>
		<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="135" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	</div>
	<div>
		<p>Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
	</div>
</div>
<!-- /.row -->
</footer>