<% content_for :title do %>About Us<% end %>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Who We Are</h2>
		<p class="lead"> We are Insaka, a 501(c)(3) non-profit dedicated to helping girls in rural Zambia finish their secondary school educations.</p>
		<p>
		Insaka was formed in 2017 by Kyle Uhlmann and Sherrie Welch. The idea of Insaka was born from discussions about Kyle’s recent service as a Peace Corps Volunteer English teacher in Mutwewankoko (<i>head of the chicken</i> in the local language), Zambia.</p>
		<p>
		Most of the girls in Mutwe have no opportunity to continue their education beyond Grade 9. It doesn’t matter how smart they are, how hardworking, or how creative. The girls face so many obstacles: school fees and rampant sexism, for instance, that very few ever attend Grade 10, let alone finish Grade 12. Instead, the majority complete Grade 9, marry early, start having children, and spend the rest of their lives engaged in the back-breaking and never ending labor that characterize the life of a subsistence farmer.</p>
		<p>
		They never have a chance.</p>
		<p>
		We decided to bring our talents and skills together and do something to help these girls break this cycle. We are both firm believers in the power of education and so have chosen to focus our efforts there. Our goal is to help a steady stream of girls finish secondary school so that they can change their lives, their communities, and our world. Join us.</p>
  </div>
<div class="col-md-5">
		
		<div class="row justify-content-md-center">
			<div class="col-md-4">
				<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/picture.jpg" alt="who we are - a photo of sherrie">
			</div>
			<div class="col-md-4">
				<img class="featurette-image img-fluid mx-auto img-responsive" src="../images/IMG_9593.jpg" alt="who we are - a photo of kyle">
			</div>
		</div>
  <img class="featurette-image img-fluid mx-auto" src="../images/insaka.JPG" alt=""><p> An Insaka, the traditional place of learning, and our namesake.</p>
</div>
	<br>

</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading">What We Do</h2>
		<p class="lead">The odds of a rural Zambian girl going to secondary school are slim. There are too many obstacles in her way.</p>
		<p>One of the largest obstacles is a lack of money. The average yearly cash income in rural areas can be extremely low, often less than $500 USD. Secondary school fees range from $275-$800 USD per year for three years. That is just tuition. It does not include transport to school, uniforms, school supplies, etc. </p>
		<p>Most of these girls come from families of subsistence farmers. Their families don’t have much money, and what money they can save for education, is usually spent on the sons. Our goal is to help girls complete their Grade 12 educations by assisting in the payment of their school fees. </p>
		<p> We have created Insaka as a tool to pass money from donors to these girls.  We collect donations, via this website, and then use it to pay all three years’ worth of secondary school fees for girls who have been deemed as having high levels of need, motivation and potential for success. </p>
		<p>Our aim at the moment is to assist five girls per year. </p>
	</div>
	<div class="col-md-5 order-md-1">
		<img class="featurette-image img-fluid mx-auto" src="../images/IMG_5633.jpg" alt="">
	</div>
</div>
<br>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Why We Do It</h2>
		<p class="lead">We started Insaka because we want to help.</p>
		<p>We chose education because education, especially female education, has been shown in multiple studies to have a massive impact on society. The impact of female education can be-<br>
		
	<ul type="square">
	<li>Economic</li>
		<ul>
			<li>Increased economic output</li>
			<li>Better jobs</li>
			<li>Higher wages</li>
			<li>Reduced vulnerability to labor/sexual exploitation</li>
			<li>Increased agricultural output</li>
		</ul>
	<li>Social</li>
		<ul>
			<li>Lower birth rates</li>
			<li>Reduced rates of child marriage</li>
			<li>Increased importance placed on children’s education</li>
			<li>Increased resiliency to natural disasters/economic downturn</li>
		</ul>
	<li>Health</li>
		<ul>
			<li>Fewer maternal deaths during childbirth</li>
			<li>Fewer infant deaths</li>
			<li>Increased willingness to seek medical care</li>
			<li>Reduced HIV/AIDs levels</li>
			<li>Higher vaccination levels</li>
			<li>Lower levels of malnutrition/stunting</li>
		</ul>
	<li>Political</li>
		<ul>
			<li>Increased political participation</li>
			<li>Empowered women<sup>1</sup></li>
		</ul>
		</ul>
		<p>Every single one of these effects can help improve lives in Zambia. Here are a few statistics to put things in perspective-</p>
	<table style="width:100%">
		<table id="t01">
	<head>
	<style>
	table, th, td {border: 1px solid black; border-collapse: collapse;}
	th, td {padding: 5px; text-align: left;}
	table#t01 tr:nth-child(even) {background-color:white;}
	table#t01 tr:nth-child(odd) {background-color: #72afe4;}
	table#t01 th {background-color: #1e619b; color: white;}
	</style>
	</head>
	<body>

	<tr>
		<th>Indicator</th>
		<th>Zambia</th>
		<th>USA</th>
	</tr>
	<tr>
		<td>Gross Domestic Product, per capita (USD)</td>
		<td>$1,715<sup>2</sup></td>
		<td>$54,306<sup>3</sup></td>
	</tr>
	<tr>
		<td>HIV prevalence, adults 15-49</td>
		<td>12.4%<sup>4</sup></td>
		<td>0.5%<sup>4</sup></td>
	</tr>
	<tr>
		<td>Percentage of female legislators</td>
		<td>12.7%<sup>2</sup></td>
		<td>19.4%<sup>3</sup></td>
	</tr>
	<tr>
		<td>Average Life Expectancy(F/M)</td>
		<td>63.9/58.8<sup>5</sup></td>
		<td>81.3/76.5<sup>3</sup></td>
	</tr>
	<tr>
		<td>Percentage of women married before age 18</td>
		<td>41.6%<sup>6</sup></td>
		<td>0.4%<sup>7</sup></td>
	</tr>
	<tr>
		<td>Infant Mortality Rate</td>
		<td>55/1,000<sup>2</sup></td>
		<td>6/1,000<sup>3</sup></td>
	</tr>
	<tr>
		<td>Percentage of girls attending secondary school</td>
		<td>35.6%<sup>8</sup></td>
		<td>92%<sup>9</sup></td>
	</tr>
	<tr>
		<td>Total Fertility Rate</td>
		<td>5.5<sup>2</sup></td>
		<td>1.9<sup>3</sup></td>
	</tr>
	<table id="t01">
	<br>
	<p>Educating women can mean a world of change.</p>
	<p.small {line-height: 40%;}>
		<font size="-2">
			<p class="small">
	<sup>1</sup><a href="https://www.brookings.edu/wp-content/uploads/2016/07/whatworksingirlseducation1.pdf">Sperling, Gene B., Winthrop, Rebecca, and Kwauk, Christina, What Works in Girl’s Education. (Washington D.C.:Brookings Institution Press, 2016)</a>This is a really good book if you want to learn more about the state and benefits of female education.<br>
	<sup>2</sup><a href="http://data.un.org/CountryProfile.aspx?crName=ZAMBIA">“Country Profile-Zambia” UNdata, accessed October 6th, 2017.</a><br>
	<sup>3</sup><a href="http://data.un.org/CountryProfile.aspx?crName=United%20States%20of%20America">“Country Profile-Unied States of America” UNdata, accessed October 6th, 2017.</a><br>
	<sup>4</sup><a href="http://aidsinfo.unaids.org/">“HIV Prevelance” UNAIDS, accessed October 5th, 2017.</a><br>
	<sup>5</sup><a href="http://databank.worldbank.org/data/reports.aspx?source=2&type=metadata&series=SE.SEC.NENR.FE#">“Databank-World Development Indicators” World Bank, accessed October 6th, 2017.</a><br>
	<sup>6</sup><a href="https://www.unfpa.org/sites/default/files/pub-pdf/MarryingTooYoung.pdf">Loaiza, Sr., Edilberto and Wong, Sylvia. Marrying Too Young:End Child Marriage. (New York: United Nations Population Fund, 2012)</a><br>
	<sup>7</sup><a href="http://www.pewresearch.org/fact-tank/2016/11/01/child-marriage-is-rare-in-the-u-s-though-this-varies-by-state/">McClendon, David and Sandstrom, Aleksandra, Child marriage is rare in the U.S., though this varies by state” Pew Research Center, November 1st, 2016.</a><br>
	<sup>8</sup><a href="https://www.unicef.org/infobycountry/zambia_statistics.html#117">“UNICEF-Zambia Statistics” UNICEF, accessed October 6th, 2017</a><br>
	<sup>9</sup><a href="http://databank.worldbank.org/data/reports.aspx?source=2&type=metadata&series=SE.SEC.NENR.FE">“Databank-World Development Indicators” World Bank, accessed October 6th, 2017.</a><br></font></p>
	</div>
	
	
		<div class="col-md-5">
 		<img class="featurette-image img-fluid mx-auto" src="../images/IMG_9241.jpg" alt="Bana Priscilla">
</div>
		</div>
		<br>	
			
			
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<img class="featurette-image img-fluid mx-auto" src="../images/IMG_9569.jpg" alt="Sharon">
	</div>
	
	
	
	<div class="col-md-5">
		<h2 class="featurette-heading">How You Can Help</h2>
		<p class="lead">We need your help.</p>
		<p>What may seem like pocket change to you can mean the difference between a drop-out and a graduate. You can visit our <a href="http://www.insaka.org/pages/donate">Candidates</a> page to see the girls we are currently raising money for.</p>
		<p>We are also trying to spread the word about Insaka. Please like us on Facebook, follow us on Twitter and tell all your friends.</p>
		<div>
		<a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div>
		<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="135" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	</div>

		<p>If you are a development worker in Zambia, and you know a girl who you think is worthy of sponsorship, please consider filling out the application below. </p>
		<h4>Nominate a girl</h4>
	<%= link_to "Insaka Application", asset_path("insaka_application.pdf"), :class => "btn btn-large btn-danger" %></p>
</div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->
<footer>
<div>
	<p>
		Special Thanks
		<br>
	Drew Uhlmann for her extreme patience and all of the hard, hard work she put into this website.666<br>

	</p>
</div>
<hr>
<div class="text-center col-12 blue container-fluid">
	<br>
	<h2> <%= button_to "Send Us a Bushnote", page_path('contact'), {class: 'button'} %> </h2>
	
	<div>
		<p>Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
	</div>
</div>
<!-- /.row -->
</footer>
