<% content_for :title do %>Application<% end %>
<div class="full-width">
       <div class="announce">
           <p><strong>We are currently accepting applications</strong></p>
</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-12">
	<h2 class="featurette-heading">Applications</h2>
		<p class="lead">Interested in helping Insaka find a girl to sponsor?</p>
		<p>Here is what you need to know</p>
	</div>
		<hr class="featurette-divider">
	<div class="col-sm-7">
		<h3 class="featurette-heading">Requirements</h3>
		<p>We are looking for girls that</p>
			<ul type="square">
				<ul>
					<li>Are Zambian</li>
					<li>Live in a rural area</li>
					<li>Lack the financial resources to go to secondary school</li>
					<li>Have passed or are about to pass their Grade 9 exams</li>
					<li>Are promising and dedicated students</li>
					<li>Are personally known by the development worker</li>
				</ul>
		
			<p>In addition, the development worker should</p>
			<ul>
					<li>Not be Zambian</li>
					<li>Still be in Zambia the January that the girl will enter school</li>
				</ul>
		</div>
	</div>
	<div class="col-sm-5">
	</div>
</div>
	<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-5">
	</div>
	<div class="col-sm-7">
		<h3 class="featurette-heading">The Insaka Process (in brief)</h3>
	<ul>
		<li>Development worker talks to the girl about her interests and plans, and Insaka</li>
		<li>The development worker and the girl fill out the application together</li>
		<li>Insaka reviews the applications and chooses the best candidates</li>
		<li>Insaka begins fund raising for the girl's fees</li>
		<li>The girl and the development worker work to ensure that the girl is accepted into a secondary school</li>
		<li>The development worker visits the secondary school and meets with their administration</li>
		<li>Insaka transfers money to the school</li>
		<li>The girl reports to school</li>
	</ul>
		<p>Please see the application forms for a detailed description of the process.</p>
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-sm-7">
		<h3 class="featurette-heading">Have a girl in mind?</h3>
		<p>If you know a girl that would make a good candidate, please consider talking to her about Insaka. If you need more information or a clarification, please contact us.<br>
			<br>
		<%= link_to "Insaka Application", asset_path("Insaka app Mar1 2018.pdf"), :class => "btn btn-large btn-danger" %></p>		
	</div>
	<div class="col-sm-5">
	</div>
</div>
</div>
	<hr class="featurette-divider">
</body>
<footer>
	
    <div class="text-center col-12 blue container-fluid">
	    <div class="row featurette">
    		   <div class="col-sm-4"> 
			<div> 
          			  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
       			 </div>
		   </div>
		   <div class="col-sm-2"> 
	   		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
		   </div>
		   <div class="col-sm-2"> 
				<a href="https://www.pinterest.com/insakagirl/pins/"><img border="0" src="../images/pinterest1.png" width="30" height="30">
		   </div>
		   <div class="col-sm-2"> 
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		   </div>
		   <div class="col-sm-2"> 
           			 	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   </div>
	</div>
		   <div class="row featurette">
    		<div class="col-sm-12">
      			 <div>
           			 <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
       			 </div>
    		</div>
	</div>
	</div>
   
</footer
