<% content_for :title do %>Candidates<% end %>
<div class="container-fluid">
	<br>
    <div class="row featurette">
      	<div class="col-sm-4 text-center mx-auto">
		<img class="img-circle img-responsive img-fluid mx-auto img-center max-width:100% height:auto" src="../images/Mercy.jpg" alt="A Zambian girl preparing to go to high school">
	</div>
	 
                                     
	<div class="col-sm-4 text-center mx-auto"> 
		    <h2 class="featurette-heading">Candidates</h2>
        		<p class="lead">Rachel and Mercy have left for school, and we have not yet selected girls to sponsor for the 2019 school year.</p>
		    <p> We will begin accepting applications shortly, and hope to have chosen several girls by July 1<sup>st</sup>. <br>
			    In the meantime, you can donate to our general fund. </p>  

                   <div>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                 <input type="hidden" name="cmd" value="_s-xclick">
                                 <input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
                                 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                  </div>
		       <br>
		  <div>
       			 <p>You can also donate through a workplace giving program, if your company uses <a href="https://causes.benevity.org/causes/840-822619657">Benevity</a>. Some companies will match your donation.</p>
   		  </div> 
	    </div>
	
	 
	<div class="col-sm-4 text-center mx-auto">
		<img class="img-circle img-responsive img-fluid mx-auto img-center max-width:100% height:auto" src="../images/Rachel.jpg" alt="African school girl with acceptance letter">
	</div>
	</div>
</div>

<hr class="featurette-divider">
      
 
<footer>
	
    <div class="text-center col-12 blue container-fluid">
	    <div class="row featurette">
    		   <div class="col-sm-4"> 
			<div> 
          			  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
       			 </div>
		   </div>
		   <div class="col-sm-2"> 
	   		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
		   </div>
		   <div class="col-sm-2"> 
				<a href="https://www.pinterest.com/insakagirl/pins/"><img border="0" src="../images/pinterest1.png" width="30" height="30">
		   </div>
		   <div class="col-sm-2"> 
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		   </div>
		   <div class="col-sm-2"> 
           			 	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   </div>
	</div>
		   <div class="row featurette">
    		<div class="col-sm-12">
      			 <div>
           			 <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
       			 </div>
    		</div>
	</div>
	</div>
   
</footer>

<!--DONATE CODE Missing the first line, it was messing with the tab name
<div class="container-fluid">
<div class="row justify-content-sm-center mx-auto">
<div class="column col-sm-3 text-center mx-auto">
<br>
<div>
<img class="img-circle img-responsive img-fluid mx-auto img-center max-width:100% height:auto" src="../images/Mercy.jpg" alt="A Zambian girl who wants an education.">
<h2>Mercy</h2>
<div>
My name is Mukosa Mercy. I live in Mutwewankoko village. I like to play netball and I like to learn English. I like to read English and do athletics. My favorite subject is English. I want to be a teacher. I want to get educated so that I help my parents and other family members.
</div>
</div>
<div style="width:30%">
</div>
</br>
</br>
<div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
</div>

<div class="column col-sm-3 text-center mx-auto">
<br>
<div>
<img class="img-circle img-responsive img-fluid mx-auto img-center max-width:100% height:auto" src="../images/Rachel.jpg " alt="An African girl who wants to go to school">
<h2>Rachel</h2>
<div>
My name is Chabwe Rachel. I live in Chabwe village. I like to read and write. I like to play netball, do athletics and sing. My favorite subject is science. I want to be a nurse. I want to get educated so that I help my parents and other family members.
</div>
</div>
<div style="width:30%">
</div>
</br>
</br>
<div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<br>
</div>

<div class="row justify-content-sm-center">
<div class="col-12 container-fluid text-center mx-auto">
<br>
 <div>
   <p>You can also donate through a workplace giving program, if your company uses <a href="https://causes.benevity.org/causes/840-822619657">Benevity</a>. Some companies will match your donation.</p>
</div>
</div>
</div>

</div>

<hr class="featurette-divider">
<div class="row featurette">
<div class="col-12 container-fluid text-center mx-auto">
<p style="color:red">We are currently working on installing more responsive progress meters, but we haven't yet mastered the code. In the meantime, we have the bar below, which represents the money for both girls. It only updates daily, so please check back.</p><br>
<h1>Mercy and Rachel</h1>
<p>We are trying to raise $2,400, that's for both girls, for all three years.</p>
<br>

</div>
</div>


<div class="progress">
<div class="progress-bar progress-bar-striped active" role="progressbar"
aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
75% Funded
</div>
</div>
<br>
<br>
<div class="col-12 container-fluid text-center mx-auto">
<p>Thanks to all our donors<br>
Twatasha mukwai</p>
<div class="newspaper">
LIST OF DONORS NAMES
</p>

</div>
</div>
</div>




<div class="text-center mx-auto col-12 container-fluid">

   <div class="col-12 container-fluid text-center mx-auto">
<div>
 <a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
  </div>
</div>
 </div>
 </br>
<div>
<a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div>
<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
   </div>
   <br>
    <br>
<div class="col-12 container-fluid text-center mx-auto">
 <div>
<a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
</div>
</div>
 </div>
</div>
<hr class="featurette-divider">


<footer>
<div>
<p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
</div>
</div>

</footer>
 -->
