<% content_for :title do %>Send Us a Bushnote<% end %>

    <footer>
        <div class="text-center col-12 blue container-fluid">
            <h2> <%= button_to "Send Us a Bushnote", page_path('contact'), {class: 'button'} %> </h2>
            <div>
                <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="135" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            </br>
            <div>
                
            </div>
            <hr>
            <div>
                <p>Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
            </div>
        </div>
        <!-- /.row -->
    </footer>