<% content_for :title do %>Destiny<% end %>
    <hr class="featurette-divider">
<div class="container-fluid">
        <div class="row featurette">
            <div class="text-center col-12>
                <h1 class="featurette-heading">Choose Your Destiny</h1>
                <p class="lead">It's difficult for rural Zambian girls to go to school.</p>
          <p>How difficult? Try it for yourself.Click on the option to see where your future leads</p>
                               </div>
                               </div>
                               </div>
                               <div>
   <destiny>
<div id="sleep" class="step" data-x="-1000" data-y="-1500">

  <h1>Link... Link... wake up..</h1>

  <a href="#wakeup">Wake up</a>
  <a href="#sleep">Go back to sleep</a>
</div>

<div id="wakeup" class="step" data-x="0" data-y="-1500">
  <H1>Link! Thank goodness your awake!</H1>
  <p>A fairy has finally come to you! It is time to begin your adventure!</p>

  <p><img src="http://static.tvtropes.org/pmwiki/pub/images/Delia_Ketchum_589.jpg"></p>

  <a href="#more">Tell me more</a>
  <a href="#sleep">Go back to sleep</a>
</div>

<div id="more" class="step" data-x="0" data-y="-1500" data-z="1500">
  <H1>Go see Professor Oak at once!</h1>
  <p>He will help you find all the Dragonballs!</p>

  <a href="#oak">Okay! Go See Professor Oak</a>
  <a href="#sleep">Go back to sleep</a>

</div>

<div id="oak" class="step" data-x="850" data-y="3000" data-z="1000" data-rotate="90">
  <H1>Hiya Link! You're off to save Princess Zelda eh? Why not take a Pokemon with you!</h1>

  <a href="#empty">Choose Bulbasaur</a>
  <a href="#empty">Choose Charmander</a>
  <a href="#empty">Choose Squirtle</a>
  <a href="#sleep">Go back to sleep</a>
</div>

<div id="empty">
  <h1>The Pokeball is empty</h1>
  <p>I'm sorry Ash. It looks like that one is already chosen.</p>
  
  <a href="#oak">Choose again.</a>
  <a href="#pika">What else you got?</a>
</div>

<div id="pika">
  <h1>I think there is one more Pokemon..</h1>
  <p>Here is one more Pokeball. But I must warn you he is a fiesty little fella</p>
  
  <a href="#open-pika">Open Pokeball</a>
    <a href="#oak">Nah.</a>
</div>

<div id="open-pika">
  <h1>Pikachu!</h1>
  <p>Congratuations! You recieved a Lv 5 Pikachu! Fork this pen to continue the adventure!</p>
  
  <a href="#sleep">Start over</a>
</div>

<div id="grass">
  <h1>You recieved Bulbasaur</h1>
  <P> Go grass type! I hope we don't enounter a Charmander..</p>
  
  <a href="#leave-town">Start our journey as a Pokemon trainer</a>
</div>                              
                               </div>
                       </destiny>
                               <br>
<br>
<div class="text-center col-12">
                               
                  
                                              
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
<!-- /END THE FEATURETTES -->
<footer>
    <div class="text-center col-12 blue container-fluid">
        
        <form action="http://www.insaka.org/pages/contact" method="get">
          <button>Send Us a Bushnote</button>
        </form>  
</body>
       
        <div>
            <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        </br>
        <div>
            
        </div>
<div class="row featurette">
    <div class="col-sm-12">
        <div> 
            <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        </div>
    </div>
</div>
<hr>

       
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>
