<% content_for :title do %>Destiny<% end %>
    <hr class="featurette-divider">
<div class="container-fluid">
        <div class="row featurette">
            <div class="text-center col-12>
                <h1 class="featurette-heading">Choose Your Destiny</h1>
                <p class="lead">It's difficult for rural Zambian girls to go to school.</p>
          <p>How difficult? Try it for yourself.Click on the option to see where your future leads</p>
                               </div>
                               </div>
                               </div>
                               <div>
   
                <html>
<head>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>

<h2>Choose Your Destiny</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Donate</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
                       <div>
                       <img class="img-circle img-responsive img-fluid mx-auto img-center max-width:30% height:auto" src="../images/Rachel.jpg " alt="An African girl who wants to go to school">
                   </div>
    <p>Thank you for donating to Rachel.</p>
                       <form action="/action_page.php">
  How much would you like to donate?<br>
  <input type="text" name="amount" value="">
  <br>
  Would you like your name added to our list of donors? If so, please type it as you would like it to appear.<br>
  <input type="text" name="name" value="">
  <br><div>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                 <input type="hidden" name="cmd" value="_s-xclick">
                                 <input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
                                 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                        </div>
</form> 

<p>Once click the Donate button, you will forwarded to Paypal.</p>
                  
                                        
  </div>
    </div>                   
</div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
<!-- /END THE FEATURETTES -->
<footer>
    <div class="text-center col-12 blue container-fluid">
        
        <form action="http://www.insaka.org/pages/contact" method="get">
          <button>Send Us a Bushnote</button>
        </form>  
</body>
       
        <div>
            <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        </br>
        <div>
            
        </div>
<div class="row featurette">
    <div class="col-sm-12">
        <div> 
            <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        </div>
    </div>
</div>
<hr>

       
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %>  -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>
