<% content_for :title do %>Destiny<% end %>
    <hr class="featurette-divider">
<div class="container-fluid">
        <div class="row featurette">
            <div class="text-center col-12>
                <h1 class="featurette-heading">Choose Your Destiny</h1>
                <p class="lead">It's difficult for rural Zambian girls to go to school.</p>
          <p>How difficult? Try it for yourself.Click on the option to see where your future leads</p>
                               </div>
                               </div>
                               </div>
                               <div>
                              https://ie1-broadcast.officeapps.live.com/m/Broadcast.aspx?Fi=338bd17e902657a0%5F68f50e47%2D8e84%2D4d2f%2Da717%2Df1a0c070f8bd%2Epptx
                               </div>
                               <br>
<br>
<div class="text-center col-12">
                               
                  
                                              
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
<!-- /END THE FEATURETTES -->
<footer>
    <div class="text-center col-12 blue container-fluid">
        
        <form action="http://www.insaka.org/pages/contact" method="get">
          <button>Send Us a Bushnote</button>
        </form>  
</body>
       
        <div>
            <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        </br>
        <div>
            
        </div>
<div class="row featurette">
    <div class="col-sm-12">
        <div> 
            <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        </div>
    </div>
</div>
<hr>

       
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>
