<% content_for :title do %>The Girls<% end %>
<div class="container-fluid">
    <div class="row justify-content-sm-center">
      <div class="column col-sm-3 text-center mx-auto">
                                        <br>
            <div>
                     <img class="img-circle img-responsive img-center" src="../images/Mercy.jpg" alt="">
                     <h2>Mercy</h2>
                <div>
                         My name is Mukosa Mercy. I live in Mutwewankoko village. I like to play netball and I like to learn English. I like to read English and do athletics. My favorite subject is English. I want to be a teacher. I want to get educated so that I help my parents and other family members.
                </div>
           </div>
                 <div style="width:30%">
                    </div>
                            </br>
                            </br>
                   <div>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                 <input type="hidden" name="cmd" value="_s-xclick">
                                 <input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
                                 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                        </div>
    </div>

    <div class="column col-sm-3 text-center mx-auto">
                         <br>
        <div>
                           <img class="img-circle img-responsive img-center" src="../images/Rachel.jpg" alt="">
                     <h2>Rachel</h2>
            <div>
                         My name is Chabwe Rachel. I live in Chabwe village. I like to read and write. I like to play netball, do athletics and sing. My favorite subject is science. I want to be a nurse. I want to get educated so that I help my parents and other family members.
            </div>
       </div>
                <div style="width:30%">
                </div>
                        </br>
                         </br>
                        <div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                   <input type="hidden" name="cmd" value="_s-xclick">
                       <input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
                   <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                 </form>
            </div>
    </div>
</div>

<hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-12 container-fluid text-center mx-auto">
                <p style="color:red">We are currently working on installing more responsive progress meters, but we haven't yet mastered the code. In the meantime, we have the bar below, which represents the money for both girls. It only updates daily, so please check back.</p><br>
                <h1>Mercy and Rachel</h1>
                <p>We are trying to raise $2,400, that's for both girls, for all three years.</p>
                 <br>     
                                                             </div>
                                                             </div>
                                                             
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%">
        5% Funded
  </div>
</div> 
        </div>
                                                                                 </div>
                                                                   <footer>
    <div class="text-center col-12 blue container-fluid">
        <form action="http://www.insaka.org/pages/contact" method="get">
          <button>Send Us a Bushnote</button>
</form>
        <div>
            <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="135" height="66" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        </br>
        <div>
            
        </div>
        <hr>
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>
