<div id="top-hero">
  <div class="hero-left">
    <div class="hero-info">
      <div class="blue-square"></div>
      <div class="hero-info-text">
        WE INCREASE<br />THE ACCESS<br />TO EDUCATION<br />FOR RURAL<br />ZAMBIAN GIRLS
      </div>
    </div>
  </div>
  <div class="hero-right">
    <div id="guidestar-logo" class="hero-guidestar">
      <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
    </div>
  </div>
</div>
<div id="continental">
  <div class="continental-copy">
    <div class="continental-copy-text">
      <div class="bullet">
      </div>
      <h2>What do we do at Insaka?</h2>
      <p>We are a 501(3)(c) non-profit formed in 2017 by Kyle Uhlmann and Sherrie Welch.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit consectetur lobortis. Sed vulputate, neque vitae molestie fringilla, est nulla porta urna, nec scelerisque metus arcu ac magna. In in aliquet enim. Sed sed lacinia urna, in viverra justo. In convallis quis velit sed fringilla. Etiam non tellus congue, sagittis urna non, facilisis ante.</p>
    </div>
    <div class="continental-button"><a href="/pages/why-insaka">Find Out More<div class="arrow"></div></a></div>
  </div>
</div>
<div id="zam-facts">
  <div id="meeple-holder"></div>
  <div id="facts">
    <p>Did you know only
    <span class="big-text">3%</span><br />
    of poor rural Zambian<br />School girls finish<br />secondary school?</p>
  </div>
</div>