<div id="top-hero">
  <div class="hero-left">
    <div class="hero-info">
      <div class="blue-square"></div>
      <div class="hero-info-text">
        WE INCREASE THE ACCESS TO EDUCATION FOR RURAL ZAMBIAN GIRLS
      </div>
    </div>
  </div>
</div>