<div id="top-hero">
  <div class="hero-left">
    <div class="hero-info">
      <div class="blue-square"></div>
      <div class="hero-info-text">
        WE INCREASE<br />THE ACCESS<br />TO EDUCATION<br />FOR RURAL<br />ZAMBIAN GIRLS
      </div>
    </div>
  </div>
  <div class="hero-right">
    <div id="guidestar-logo" class="hero-guidestar">
      <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
    </div>
  </div>
</div>