<% content_for :title do %>More<% end %>
<div class="container-fluid">
  <div class="row featurette">
  <div class="col-sm-7">
	  <br>
		<h2 class="featurette-heading">Rabbeca</h2>
		<p>Rebecca is also interested in engineering and technology, having attended two Girls Can Code! technology camps. She was nominated by Brooke Cutlan and Precious Katowa. Brooke said “After attending her first technology camp in January 2017, she co-founded the Mutiti Girls Coding Club, attended a second camp in August 2017 as a student mentor, and taught lessons in coding to her peers throughout the 2017 school year.</p>
	</div>
  <div class="col-sm-5">	
		<div class="row col-not-stack justify-content-sm-center">
				<img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="../images/Susanmore2-min.jpg" alt="Rebbeca">
		</div>
  </div>
  </div>
	<br>

<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="../images/Susanmore1-min.jpg" alt="Susan at school">
		</div>
		<div class="col-sm-7">
			<h2 class="featurette-heading">Susan</h2>
			<p>Susan was nominated by Stephanie Salazar. Stephanie wrote that “Not only is Susan the girl who consistently scores the highest passing average on every test, but she never misses a day of school, thus showing great commitment to her education. I have seen how she takes advantage of any opportunity offered…”  In the application, Susan wrote “My father, Stanley, is a farmer and my mother, Oliya sells fritters everyday in order to help support my education up to this point. Without this opportunity my education will probably stop and I do not want that to happen because I believe in myself to do great things. I am kindly asking for your help, I promise to work hard and continue chasing my goals. Thank you so much and God bless you.”</p>
		</div>
	</div
	
		</div>
		</div>
<br>	
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-sm-7">
		<h2 class="featurette-heading">Caesinah</h2>
		<p>When she took the national exams in 7th grade, she qualified for boarding school but there was no
money for it. She is at the top of her 9th grade class and is a school prefect. We do not think her
education should end here.
Caesinah was nominated by Bailey Wright who wrote “Caesinah is well-known throughout our
school for being extremely intelligent, kind, and helpful. I have been lucky to witness her
outstanding character during my time in our community. I often see her helping younger students
with their homework and the work they do around the school. She is also passionate about
aquiring new knowledge.She has come to me many times asking the meaning of new words or
other information. Thanks to Caesinah, some of the grade 9 students have an informal English
club. They get together and write down words they would like to know the meaning of. The
students work together to find the definitions of the words in dictionary or by asking me. This was
all started because she
made a list of words
and asked if I could sit
down and explain them
to her. As I was
explaining, she began
to invite the other students that
were standing around
listening.”</p>
	</div>
  <div class="col-sm-5">	
		<div class="row col-not-stack justify-content-sm-center">
				<img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="../images/Caesinahmore1-min.jpg" alt="Caesinah at her school">
		</div>
  </div>
  </div>
	<br>
  <hr class="featurette-divider">
  <footer>
	
    <div class="text-center col-12 blue container-fluid">
	    <div class="row featurette">
    		   <div class="col-sm-4"> 
			<div> 
          			  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
       			 </div>
		   </div>
		   <div class="col-sm-2"> 
	   		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
		   </div>
		   <div class="col-sm-2"> 
				<a href="https://www.pinterest.com/insakagirl/pins/"><img border="0" src="../images/pinterest1.png" width="30" height="30">
		   </div>
		   <div class="col-sm-2"> 
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		   </div>
		   <div class="col-sm-2"> 
           			 	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   </div>
	</div>
		   <div class="row featurette">
    		<div class="col-sm-12">
      			 <div>
           			 <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
       			 </div>
    		</div>
	</div>
	</div>
   
</footer
