<% content_for :title do %>More<% end %>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128981455-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128981455-1');
</script>
</head>
<div class="container-fluid">
	<div class="row featurette">
		<div class="col-sm-7">
			<br>
			<h2 class="featurette-heading">Blessings</h2>
			<p>Describing her typical day, Blessings writes "everyday I wake up at 05 hours to sweep our family’s compound, fetch water, prepare food and bath before I walk six kilometers to school. When I arrive home from school I help my family fetch more water, wash plates and prepare for dinner. On the weekends, my family and I spend most of Saturday attending to our fields and Sunday’s at church. 
". When she is not working, Blessings likes dancing with her friends, playing netball and singing in the church choir. Blessings' nominator writes that "Blessings parents are extremely supportive of her going to secondary school and only wish they had the ability to send her themselves.</p>
		</div>
		<div class="col-sm-5">
			<div class="row col-not-stack justify-content-sm-center">
				<br>
				<br>
				<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/Blessings_1[1].jpg" alt="">
			</div>
		</div>
	</div>
	<br>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/gladys_3[1].JPG" alt="">
		</div>
		<div class="col-sm-7">
			<h2 class="featurette-heading">Gladys</h2>
			<p>"I want to continue school until I finish it all", is an outstanding quote from Gladys' application. She writes in no uncertain terms about her desire to go to secondary school and later to university. Her nominator says that this desire is evident and that Gladys comes to school no matter how bad the weather or any other extenuating circumstances. Gladys' family will not be able to pay for her secondary school education, although both her parents strongly support it.</p>
		</div>
	</div
		<br>
	<hr class="featurette-divider">
	<div class="col-sm-7">
			<br>
			<h2 class="featurette-heading">Kabaso</h2>
			<p>Kabaso is one of ten children, all orphaned last year. Right now, her siblings manage to pay her modest school fees, but those will increase dramatically when she enters Grade 10, making it impossible for her to continue without support. Her aunt and uncle have agreed to help Kabaso pay for a unofrm, etc. if accepted into a secondary school but cannot provide more. Kabaso is particularly interested in technology, and would like to be a teacher.</p>
		</div>
		<div class="col-sm-5">
			<div class="row col-not-stack justify-content-sm-center">
				<br>
				<br>
				<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/WhatsApp Image 2019-08-15 at 17.06.15(1)(1).jpeg" alt="">
			</div>
		</div>
	</div>
	<br>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="img-circle img-responsive img-fluid mx-auto img-center height="250" width="250"" src="../images/WhatsApp Image 2019-08-22 at 06.34.14(2)(1)(1).jpeg" alt="">
		</div>
		<div class="col-sm-7">
			<h2 class="featurette-heading">Anna</h2>
			<p>Anna is one of nine children and when she is not at school she spends her time reading or taking care of her younger brothers.Part of the reason she wants to go to secondary school is so that she can get a good job and help pay the school fees of those younger brothers.Anna's mother is a community health worker (a volunteer position) and Anna is close to her. He rmother supports Anna going to secondary school and wrote the following unsolicited letter:</p><br><p>Dear sir/madam,</p>
			<p>RE: Application for sponsorship at secondary school</p>
<p>With reference to the above subject, I write to ask for the sponsorship of my child
from grade 10 to 12. Her names are Anastasia Kunda and she is currently in grade
9 at Ng’answa Primary School. She is 16 years old and the third born in the
	family of 9.</p>
<p>Her elder siblings did not manage to complete school because I did not manage to
pay for them. That is the reason why I am asking for sponsorship for this one. Her
father and I are not working and have no means of sponsoring this child.
	Your consideration in this respect will be highly appreciated.</p>
			<p>Yours faithfully,</p>
<p>Anastasia Chibengele</p>
		</div>
	</div
	
</div>
</div>
<br>
<br>
		<hr class="featurette-divider">
			
				<footer>
					<div class="text-center col-12 blue container-fluid">
	    <div class="row featurette">
    		   <div class="col-sm-4"> 
			<div> 
          			  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
       			 </div>
		   </div>
		   <div class="col-sm-2"> 
	   		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
		   </div>
		   <div class="col-sm-2"> 
				<a href="https://www.pinterest.com/insakagirl/pins/"><img border="0" src="../images/pinterest1.png" width="30" height="30">
		   </div>
		   <div class="col-sm-2"> 
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		   </div>
		   <div class="col-sm-2"> 
           			 	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		   </div>
	</div>
		   <div class="row featurette">
    		<div class="col-sm-12">
      			 <div>
           			 <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
       			 </div>
    		</div>
	</div>
	</div>
   
</footer>
