<p><% link_to 'Admin', users_path %> </p>
<head>
    <title>Insaka-Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   

</head>
<div class="full-width">
<header class="business-header1">
    <div class="blue">
        <p>We are now accepting applications</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 top-buffer1">
                <h1 class="tagline">Insaka</h1>
                <h4 class="tagline">Increasing access to education for rural Zambian girls</h4>
            </div>
        </div>
    </div>
    </div>
</header>   
<body>
    <br>
    <br>
<div class="container-fluid">
    <div class="row">
            <div class="col-sm-6">
                    <h1 class="blue">Only 26% of poor, rural Zambian girls even begin secondary school</h1>
            </div>
            <div class="col-sm-6">
                    <img class="img-fluid mx-auto img-center img-responsive" src="../images/twentysix true.png ">
                <p><a href="http://www.education-inequalities.org/countries/zambia/indicators/trans_lowsec/sexes#?dimension=sex&group=|Female|Male&dimension2=community&group2=|Rural|Urban&dimension3=wealth_quintile&age_group=trans_lowsec&year=2013">Source</a></p>
            </div>
    </div>
    <br>
    <hr class="featurette-divider">
     <div class="row">
            <div class="col-sm-6">
                    <img class="img-fluid mx-auto img-center img-responsive" src="../images/community1.png">
                <br>
             <a href="https://www.brookings.edu/wp-content/uploads/2016/07/whatworksingirlseducation1.pdf">Source</a></p>
         </div>
            <div class="col-sm-6">
                    <h1 class="blue">Yet, female education benefits the entire community</h1>
            </div>
            
    </div>
    <br>
    <hr class="featurette-divider">
    <div class="row">
            <div class="col-sm-6">
                    <h1 class="blue">For many girls, poverty makes education impossible
            </div>
            <div class="col-sm-6">
                <img class="img-fluid mx-auto img-center img-responsive" src="../images/76-4.png">
                <br>
                <h4 class="blue">
                    of rural Zambians earn less than <span style="color:orange;font-size:40px">$252</span> per year</h4>
                <div>
               <p><a href="https://www.zamstats.gov.zm/phocadownload/Living_Conditions/2015%20Living%20Conditions%20Monitoring%20Survey%20Report.pdf">Source</a></p>
                </div>
        </div>
            
    </div>
        <br>
        <hr class="featurette-divider">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid mx-auto img-center img-responsive" src="../images/95-2.png">
                <br>
                <h4 class="blue">the daily cost of a Zambian secondary education</h4>
            </div>
            <div class="col-sm-6">
                <h1 class="blue">But with your help, we can give these girls a chance</h1>
                </div> 
         
    </div>
       <!--
        <br>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="blue">A chance to change their own lives, the lives of the people around them, and maybe even our lives</h1>
            </div>
            <div class="col-sm-6">
                <h1 class="blue"> oooooh?</h1>
                </div>   
-->
    </div>
          <br>
          <br>
    <hr class="featurette-divider">
    <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="plea">Do you have 95¢?</h1>
        <br>
        <div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LA3XCAXXDM6DU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
    </div>
                
            
            <br>
            <br>
            <br>
            <br>
            <br>
           
        </div>
    </div>
</body>

<footer>
    <div class="text-center col-12 blue container-fluid">
       <div>
<a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div>
<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
        </br>
        <div>
            
        </div>
    <div class="row featurette">
    <div class="col-sm-12">
        <div> 
            <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        </div>
    </div>
</div>
        <hr>
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>



