<p><% link_to 'Admin', users_path %> </p>
<head>
    <title>Insaka-Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   

</head>
<div class="full-width">
<header class="business-header1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 top-buffer1">
                <h1 class="tagline">Insaka</h1>
                <h4 class="tagline">Increasing access to education for rural Zambian girls</h4>
            </div>
        </div>
    </div>
          </div>
</header>   
<body>
    <div class="container-fluid">
            <div class="row">
            <div class="col-sm-6">
           <img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="../images/Screenshot-2018-2-21 Untitled Project(1).png " alt="">
</div>
            </div>
            <div class="col-sm-6">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
           
        </div>
    </div>
</body>

<footer>
    <div class="text-center col-12 blue container-fluid">
        <div>
            <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        </br>
        <div>
            
        </div>
    <div class="row featurette">
    <div class="col-sm-12">
        <div> 
            <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        </div>
    </div>
</div>
        <hr>
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>



