<p><% link_to 'Admin', users_path %> </p>
<head>
    <title>Insaka-Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   

</head>
<div class="full-width">
<header class="business-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 top-buffer">
                <h1 class="tagline">Insaka</h1>
                <h4 class="tagline">Increasing access to education for rural Zambian girls</h4>
            </div>
        </div>
    </div>
          </div>
</header>   



