<% content_for :title do %>Previous Years<% end %>
<div class="container-fluid">
	<div class="row justify-content-sm-center mx-auto">
      <div class="col-12 container-fluid text-center mx-auto">
	      <br>
	      <h1 class="featurette-heading">Previous Years</h1>
	      <p>These girls would not still be in school if it weren't for Insaka and our donors.<br>
	      Thanks to everybody who helped make this possible, especially our donors, and the development workers out in the field</p> 
		</div>
	</div>
    <div class="row justify-content-sm-center mx-auto">
      <div class="column col-sm-3 text-center mx-auto">
                                        <br>
            <div>
                     <img class="img-circle img-responsive img-fluid mx-auto img-center max-width:100% height:auto" src="../images/Mercy with school acceptance letter.jpeg" alt="A Zambian girl who wants an education.">
                     <h2>Mercy</h2>
                <div>
                         This is Mukosa Mercy from Mutwewankoko, Luapula. She is currently enrolled in Grade 10 at Samfya Secondary School. 
                </div>
           </div>
                 <div style="width:30%">
                    </div>
                            </br>
                            </br>
                 
    </div>

    <div class="column col-sm-3 text-center mx-auto">
                         <br>
        <div>
                           <img class="img-circle img-responsive img-fluid mx-auto img-center max-width:100% height:auto" src="../images/Rachel ready to go to secondary school.jpeg " alt="An African girl who wants to go to school">
                     <h2>Rachel</h2>
            <div>
                         This is Chabwe Rachel from Chabwe, Luapula. She is currently in Grade 10 at Samfya Secondary School. She wants to be a nurse. 
            </div>
       </div>
                <div style="width:30%">
                </div>
                      
                    
<br>
    </div>


</div> 
        </div>
        </div>
            
<hr class="featurette-divider">


<div class="text-center mx-auto col-12 container-fluid">
	<div class="row justify-content-sm-center">
		<div class="col-12 container-fluid text-center mx-auto">
			<div>
                 		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
			</div>
		</div>
	</div>
	</br>
         <div>
            <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
	
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
	</div>
	
	<div class="col-12 container-fluid text-center mx-auto">
      		  <div> 
            	  <a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        	   </div>
    	</div>
	
	</div>
</div>
<hr class="featurette-divider">
      
 
        <footer>
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>
