<% content_for :title do %>Transparency<% end %>
<div class="text-center col-md-8 col-md-offset-2 text-blue container-fluid">
<h3>Business Model </h3>

<p>Our goal is to provide a friendly, efficient process that connects donors and rural African girls with the aim of paying their school fees. </p>


<h3>The Girls</h3>

<p>In order to receive help from Insaka, girls must go through an application process. The process starts with the identification of promising girls. For this, we will rely on development workers who are very familiar with their communities and the girls who might potentially benefit. We feel this is the best approach because development workers are often not bound by the familial, tribal, or cultural ties of their area, and thus can be objective in selecting girls.</p>


<p>The girls, with the development worker, will have to complete an application which will then be sent to Insaka for evaluation. If the application is accepted, the girl will be promoted on our website and donations can begin. We hope to provide updates about the girls' progress once they have begun secondary school. </p>


<h3>The Money </h3>

<p>We collect money via online donations through this site. This money will be disbursed at the beginning of the school year (usually January 1st). We pay for one school year at a time in case the girl is unable to finish school for any reason. We send the money directly to the school's bank account to minimize fraud. As school fees vary by school, we have set $650 as the standard yearly amount we aim to be collect for each girl. Any excess will go to help another girl.</p>  


<h3>Insaka Expenses </h3>

<p>Approximately five percent of each donation will be collected to help us cover business expenses. Insaka is a volunteer organization. The business expenses include things such as bank transfer fees, website hosting charges, marketing drives, etc. Everything we can, we will send to the girls.</p>

</div>

<footer>
    <div class="text-center col-12 blue container-fluid">
        <h2> <%= button_to "Send Us a Bushnote", page_path('contact'), {class: 'button'} %> </h2>
        <div class="row">
        </div>
        <hr>
        <div>
            <p>Copyright &copy; Insaka 2017 -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>