<% content_for :title do %>Transparency<% end %>
<hr class="featurette-divider">
<div class="container-fluid">
<div class="row featurette">
    <div class="col-sm-5 text-center mx-auto">
        <img class="featurette-image img-fluid mx-auto img-responsive max-width:100% height:auto" src="../images/Girls at school near the Insaka.jpg" alt="African girls at school">
    </div>
    <div class="col-sm-7">
        <h2 class="featurette-heading">The Girls</h2>
        <p class="lead">We try to pick girls that have demonstrated need, motivation and potential for success.</p>
        <p>The sad fact is that we can’t help every rural girl in Zambia; we don’t have the resources. This makes it especially important to maximize the effect we can have. We do this through selecting the most promising girls.</p>
        <p>The process starts with a foreign development worker on the ground in Zambia identifying a girl. We use currently serving development workers because they have experienced the girl’s situation first hand and are the most qualified to make a decisions in the proper context. We use foreign workers because they are not bound by the clan, familial or tribal ties of the area. We want girls who deserve our help based on their merit, not their connections.</p>
        <p>If the girl is interested in applying, then she and the development worker will complete the application together and send it to Insaka. We will collect the applications, choose the best ones, and put their profiles up on our website.</p>
        <p>We will provide updates on the girls' progress as we can. </p>
    </div>
    
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-sm-7">
        <h2 class="featurette-heading">The Money </h2>
        <p class="lead">We rely completely on donations made on this site.</p>
        <p>We have calculated that it costs about $1,200 to put a girl through secondary school. Once we have collected that money, we keep it until the beginning of the Zambian school year (January). We will pay for one school year at a time in case the girl is unable to finish school. We send the money directly to the school's bank account to minimize fraud. </p>
        <p>Any excess money from over donation or girls who don’t finish school will rolled over to help a different girl. </p>
    </div>
    <div class="col-sm-5">
        <img class="featurette-image img-fluid mx-auto img-responsive" src="../images/Zambian Kwatcha.jpg" alt="You can help these girls get an education by donating money to Insaka" height="400" width="300">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-sm-5">
        <img class="featurette-image img-fluid mx-auto img-responsive" src="../images/School girls taking a break from their education.jpg " alt="School can be difficult for African girls. Insaka wants to change that.">
    </div>
    <div class="col-sm-7">
        <h2 class="featurette-heading">Insaka Expenses </h2> 
        <p class="lead">We are a non-profit, but we still have expenses.</p>
        <p>We must pay for things like website hosting, marketing drives, bank fees and office supplies. To do that, we take a small amount of the donation money. We can’t survive without it. We take only what we need, everything else we send to the girls. </p>
    </div>
    
    
    </div>
</div>
<div class="text-center col-12 container-fluid">
	<div class="row justify-content-sm-center">
		<div class="col-12 container-fluid text-center mx-auto">
			<div>
                 		<a href="http://www.insaka.org/pages/contact" class="button">Send Us a Bushnote</a>
			</div>
		</div>
	</div>
	<div class="row justify-content-sm-center">
		<div class="col-12 container-fluid text-center mx-auto">
			<div>
          			  <a href="https://twitter.com/Insakagirl?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Insakagirl</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        		</div>
        		<div>
           			 <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finsakagirlseducation%2F&width=100&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="150" height="66" style="border:none;overflow:visible" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>
			<div>
				<a href="https://www.pinterest.com/insakagirl/pins/">
<img border="0" src="../images/pinterestlogo.png" width="30" height="30">
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-sm-center">
		<div class="col-12 container-fluid text-center mx-auto">
      		  <div> 
            	  	<a href="https://www.guidestar.org/profile/82-2619657" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9651803&l=v4" /></a>
        	   </div>
    		</div>
	
	</div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->
</body>
<footer>


       
        <div>
            <p style="color:#1e619b;">Copyright &copy; Insaka <%= Time.now.year %> -- All Rights Reserved. </p>
        </div>
    </div>
    <!-- /.row -->
</footer>
