// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}

.logo1 {
  margin-top: 3px;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral

.column {
  @extend .col-md-6;
  text-align: center;
}

.col-not-stack .x-column.x-1-3 {
  width: 30.66666%;
  float: left;
  margin-right: 4%;
}

.col-not-stack .x-column.x-1-3:last-of-type {
  margin-right: 0;
}

.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-12;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Styles for form views
// using Bootstrap 4
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .card;
  @extend .col-md-9;
  padding-bottom: 40px;
  @extend .bg-light;
  @extend .small;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .card;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}
.navbar {
  background-color: #1e619b;
}
.button {
  background-color: #1e619b;
  padding: 3px 3px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  
}

  .button:hover {
    background-color: #ffffff;
    padding: 3px 3px;
    text-align: center;
    color: #1e619b;
    font-size: 16px;
    border-radius: 4px;
    border: 3px solid #ffffff;
}
 
.button1 {
  background-color: #1e619b;
  padding: 6px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  border-radius:4px;
  float: left
}


.button2 {
    background-color: #ffffff;
    color: #1e619b;
    padding: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    border-radius:6px;
    border: 3px solid #ffffff;
     margin-right: 50px;
}

.button2:hover {
    background-color: #1e619b;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    border-radius:4px;
}
.button3 {
    background-color: #de2700;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 16px;
    border-radius:4px;
    float: left
}
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.share_button{
  font-color: #ffffff;
}

.business-header {
    background: url("/images/Insaka poster girls.JPG") center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
} 

.business-header1 {
    background: url("/images/Insaka poster girls.JPG") center no-repeat scroll;
    height: 550px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  background-position: 30% 50%;
} 
.tagline {
    text-shadow: 0px 0px 0px #000;
    color: #fff;
}
.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
    text-align: center;
    vertical-align: bottom;
}

.top-buffer { 
    margin-top: 260px;
}
.top-buffer1 { 
    margin-top: 400px;
}
.text-center {
  text-align: center;
}
.blue {
  color: #1e619b;
}
.orange {
  color: #ffa305;
}
.announce {
  text-align: center;
  background:#ff0000;
  color: #ffffff;
  font-size: 20px;
  padding: 2px;
}
.off-white {
  color: #eeeeee;
}
.plea{
  color: #1e619b;
  font-size: 60px
}

.fb-like-box {
background:#1e619b;
width:100px;
height:50px;
padding:0px;
margin:0px;
border:solid 1px #1e619b;
-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
-moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.30);
}
