// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.grid-container {
  display: grid;
  grid-template-rows: 150px auto 500px;
  .nav {
    width: 100%;
    background-color: $black;
    display: grid;
    grid-template-columns: 200px auto 300px;
    div {
      justify-self: center;
      align-self: center;
      &.nav-logo {
        .logo-img {
          width: 75px;
          height: 75px;
        }
      }
      &.nav-copy {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
      }
      &.nav-donate {
        #nav-donate-button {
          cursor: pointer;
          background-color: $yellow;
          color: #1F2A27;
          height: 61px;
          width: 244px;
          border-radius: 30.5px;
          text-align: center;
          line-height: 61px;
          font-size: 25px;
          font-weight: bold;
        }
      }
    }
  }
}