// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.grid-container {
  display: grid;
  grid-template-rows: 150px 80px auto 500px;
  .nav {
    width: 100%;
    background-color: $black;
    display: grid;
    grid-template-columns: 200px auto 300px;
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
    border-image: image-url('nav-border.png') 100 repeat;
    div {
      justify-self: center;
      align-self: center;
      &.nav-logo {
        .logo-img {
          width: 75px;
          height: 75px;
        }
      }
      &.nav-copy {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
      }
      &.nav-donate {
        #nav-donate-button {
          cursor: pointer;
          background-color: $yellow;
          height: 61px;
          width: 244px;
          border-radius: 30.5px;
          text-align: center;
          line-height: 61px;
          font-size: 25px;
          font-weight: bold;
          a {
            color: $black-text;
          }
        }
      }
    }
  }

  .sub-nav {
    display: grid;
    .sub-nav-items {
      align-self: center;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .sub-nav-item {
        align-self: center;
        justify-self: center;
        color: $black; 
        font-family: Lato;  
        font-size: 21px;
        text-align: center;
        padding: 20px;
        a {
          color: $black; 
          font-family: Lato;  
        }
      }
    }
  }
}