// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";
@import "animations";

// Begin nav bar styles
.grid-container {
  display: grid;
  grid-template-rows: 150px 80px auto auto;
  .nav {
    width: 100%;
    background-color: $black;
    display: grid;
    grid-template-columns: 200px auto 300px;
    @include fancy-border;
    div {
      justify-self: center;
      align-self: center;
      &.nav-logo {
        .logo-img {
          width: 75px;
          height: 75px;
        }
      }
      &.nav-copy {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
      }
      &.nav-donate {
        #nav-donate-button {
          cursor: pointer;
          @include donate-button;
          height: 61px;
          width: 244px;
        }
      }
    }
  }

  .sub-nav {
    display: grid;
    .sub-nav-items {
      align-self: center;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .sub-nav-item {
        align-self: center;
        justify-self: center;
        color: $black; 
        font-family: Lato;  
        font-size: 21px;
        text-align: center;
        padding: 20px;
        a {
          color: $black; 
          font-family: Lato;  
        }
      }
    }
  }

  // Footer styles
  .footer {
    display: grid;
    grid-template-rows: 260px;
    // .footer-cta {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr 1fr;
    //   align-items: center;
    //   justify-content: center;
    //   @include fancy-border;
    //   .footer-cta-copy {
    //     color: $black-text; 
    //     font-family: Lato;  
    //     font-size: 34px;  
    //     font-weight: bold;
    //     text-align: center;
    //     .rectangle {
    //       height: 17px;
    //       width: 17px;
    //       border: 6px solid #FFC100;
    //       transform: rotate(315deg);
    //       display: inline-block;
    //       margin-right: 25px;
    //     }
    //   }

    //   .footer-cta-donate {
    //     justify-self: center;
    //     #footer-donate-button {
    //       @include donate-button;
    //       width: 340px;
    //     }
    //   }
    // }
    .footer-info {
      background-color: $black;
      display: grid;
      grid-template-columns: 1fr auto 1fr;

      .footer-nav {
        align-self: center;
        justify-self: center;

        .footer-nav-list {
          list-style: none;
          font-family: Lato;  
          font-size: 22px;
          a {
            color: #fff;
          }
        }
      }

      .footer-newsletter {
        color: #fff;
        font-size: 22px;
        font-family: 'Lato';
        align-self: center;
        justify-self: center;

        #newsletter-label {
          font-weight: bold;
        }

        #newsletter-info {
          font-size: 18px;
        }

        #mce-EMAIL {
          width: 440px;
          height: 50px;
          font-size: 18px;
          color: $black-text;
        }
        #mce-submit {
          @include blueButton;

          .arrow {
            @include arrow;
          }
        }
      }

      .footer-icons {
        
        align-self: center;
        justify-self: center;

        #insaka-logo, #guidestar-logo {
          height: 58px;
          width: 58px;
          margin: 15px;
        }
      }
    }
  }
}

// Donate Modal

#donate-modal {
  opacity: 0;
  position: absolute;
  z-index: -5;
  background-color: rgba(67, 68, 68, .7);
  height: 100%;
  width: 100%;
  
  #donate-form {
    transition: transform .5s ease-in-out;
    transform: tranlateY(-200px);
    background-color: $black;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    //grid-column-gap: 25px;
    @include fancy-border;

    .donate-form-row {
      flex: 1;
      width: 100%;
      display: flex;
      &.tall {
        padding: 20px;
      }

      &.short {
        padding: 10px 20px;
      }
      #form-logo {
        height: 70px;
        width: 70px;
        margin-right: 25px;
        flex: 1;
      }

      #donate-form-label {
        color: #fff;
        font-size: 40px;
        font-weight: 900;
        font-family: 'Lato';
        align-self: flex-end;
        flex: 2;
      }

      select {
        background-image: image-url('small-arrow');
        background-repeat: no-repeat;
        background-position: right center;
      }

      #close-button {
        border: 1px solid $yellow;
        color: $yellow;
        font-family: 'Lato';
        font-size: 18px;
        max-width: 115px;
        padding: 10px;
        margin-right: 20px;
        cursor: pointer;
        flex: 1;
        align-self: flex-end;
        justify-self: end;
        #close-button-x {
          float: right;
          font-weight: 900; 
        }
        &:hover {
          background-color: $yellow;
          color: $black;
        }
      }
      
      .form-field-label {
        font-size: 18px;
        color: #fff;
        &.left {
          flex: 2;
        }
        &.right {
          flex: 1;
        }
      }

      .donate-form-field {
        padding-right: 20px;
        select, input {
          width: 100%;
          height: 65px;
          background-color: #fff;
          font-size: 22px;
          border: 0;
          border-radius: 0;
          -webkit-appearance: none;
          -webkit-border-radius: 0;

        }
        &.left {
          flex: 2;
        }
        &.right {
          flex: 1;
        }

      }

      .form-section-label {
        font-size: 34px;
        color: #fff;
        font-weight: bold;
      }

      #donate-form-submit {
        @include donate-button;
        flex: 1;
        align-self: center;
        cursor: pointer;
        max-width: 50%;
        margin: auto;
      }
    }
  }

  &.visible {
  animation-name: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
    #donate-form {
      transform: translateY(0);
    }
  }
}

// Begin homepage styles 
#top-hero {
  background-image: image-url('homepage-hero.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 50%;
  height: 700px;
  width: 100%;
  display: flex;
  .hero-left {
    z-index: 2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 500px;
    height: 100%;
    flex: 2;
    .hero-info {
      font-family: 'Lato';
      font-size: 47px;  
      font-weight: 900;
      color: #fff;
      .blue-square {
        position: absolute;
        z-index: 2;
        background-color: #5AB8FF;
        height: 200px;
        width: 200px;
        margin-top: 175px;
        margin-left: 75px;
      }
      .hero-info-text {
        z-index: 3;
        height: 280px;  
        width: 387px;
        position: absolute;
        line-height: 50px;
        margin-top: 200px;
        margin-left: 125px;
      }
    }
  }
  .hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-guidestar {
      padding: 50px 50px 50px 150px;
      opacity: .5;
    }
  }
}

#continental {
  height: 700px;
  width: 100%;
  background-image: image-url('yellow-zambia.png'), image-url('village-scene.png');
  background-color: #434444;
  background-repeat: no-repeat;
  background-position: 100% 150%, 50% 101%;
  background-size: auto, contain;
  margin-top: -150px;
  z-index: 5;
  -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0% 100%);
  .continental-copy {
    width: 400px;
    margin-top: 150px;
    margin-left: 150px;
    color: #fff;
    font-family: 'Lato';
    h2 {
      display: inline-block;
    }

    .continental-button {
      @include blueButton;
      margin-top: 50px;
      width: 200px;
      text-align: center;
      line-height: 50px;
      a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        display: inline-block;
      }
      .arrow {
        @include arrow;
      }
      &:hover {
        background-color: $blue;
      }
    }
  }
  .bullet {
    @include bullet;
    display: inline-block;
    margin-left: -40px;
    margin-right: 15px;
  }
}

#zam-facts {
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;

  #meeple-holder {
    flex: 2;
    background-image: image-url('meeples.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin-left: 25px;
  }

  #facts {
    flex: 1;
    text-align: center;
    font-family: 'Lato';
    p {
      color: #fff;
      font-size: 28px;
      line-height: 30px;
      span.big-text {
        color: $black;
        font-size: 180px;
        line-height: 180px;
      } 
    }
  }
}

#zam-separator {
  width: 100%;
  background-color: $blue;
  border-bottom: solid 20px transparent;
  border-image: image-url('triangle-border-cropped.png') 100 stretch;
}

#what-can-i-do {
  background-color: #fff;
  // -webkit-clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 0);
  // clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 0);
  #what-copy {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      margin: 25px;
    }
    #what-copy-text {
      flex: 2;
      padding: 25px;
      //width: 600px;
      margin-left: 150px;
      font-family: 'Lato';
      h2 {
        display: inline-block;
      }
      .bullet {
        @include bullet;
        display: inline-block;
        margin-left: -40px;
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    #what-copy-donate {
      flex: 1;

      #donate-button {
        @include donate-button;
      }
    }
  }
}

#photo-gallery {
  background: linear-gradient(165deg, white 25%, $black 25% 100%);
  width: 100%;
  height: auto;
  background-size: contain; 
  background-position: 50% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: auto 600px 400px auto;
  grid-template-rows: repeat(8, 200px);

  .photo-gal-photo {
    margin: 10px;
    z-index: 2;
  }

  #photo-wide-1 {
    background-image: image-url('IMG_9067.JPG');
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #photo-tall-1 {
    background-image: image-url('rabecca-rosemary.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 3;
  }

  #photo-wide-2 {
    background-image: image-url('IMG_9702.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 2;
  }

  #photo-tall-2 {
    // background-image: image-url('IMG_8987.JPG');
    // background-size: contain;
    // background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: span 3;
  }

  #photo-wide-3 {
    background-image: image-url("IMG_8970.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: span 2;
  }

  #photo-gallery-cont {
    background-image: image-url('IMG_6299.JPG');
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $black;
    margin-top: -200px;
    -webkit-clip-path: polygon(0 33%, 100% 0%, 100% 100%, 0 67%);
    clip-path: polygon(0 33%, 100% 0%, 100% 100%, 0 67%);
    z-index: 1;
    height: 500px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;

    #see-all {
      border-radius: 30.5px;
      text-align: center;
      background-color: #fff;
      width: 220px;
      font-family: Lato;
      color: $black;
      margin: 250px auto;
      height: 60px;
      font-size: 22px;
      line-height: 60px;
      cursor: pointer;
    }
  }
}
