<li class='nav-item'><%= link_to 'About Us', page_path('about'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Candidates', page_path('donate'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Transparency', page_path('transparency'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Contact Us', page_path('contact'), class: 'nav-link' %></li>

<li class='nav-item'><a href="http://www.insaka.org/pages/donate" class="button2">Donate</a> class: 'nav-link' %></li>

<a href="http://www.insaka.org/pages/contact" class="button2">test1</a>
